/*
    Media Queries Sizes
*/

@media only screen and (max-width: 950px) {
    .main-nav {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    header li {
        list-style-type: none;
        font-size: 200%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;
        border: 2px solid white;
    }

    body {
        height: auto;
    }

    .body-wrapper {
        height: auto;
    }

    footer {
        display: flex;
        background-color: black;
        overflow: auto;
        color: white;
        justify-content: center;
        align-content: flex-end;
        height: auto;
    }
}

@media only screen and (max-width: 700px) {
    .main-title {
        font-size: 200%;
    }

    .main-title-background {
        height: 100%;
    }

    .body-wrapper {
        height: 100%;
    }

    body {
        height: auto;
    }

    footer {
        height: auto;
    }
}

/* 
    Orientation
*/

@media (orientation: landscape) {
    html {
        height: auto;
        width: auto;
    }
}